
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home Admin</title>

    <link href="@Url.Content("~/Pub/vendor/bootstrap/css/bootstrap.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Pub/vendor/metisMenu/metisMenu.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Pub/dist/css/sb-admin-2.css")" rel="stylesheet">
    <link href="@Url.Content("~/Pub/vendor/morrisjs/morris.css")" rel="stylesheet">
    <link href="@Url.Content("~/Pub/vendor/font-awesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css">
    <script src="@Url.Content("~/Pub/vendor/jquery/jquery.min.js")"></script>
    <script src="@Url.Content("~/Pub/vendor/bootstrap/js/bootstrap.min.js" )"></script>   
    <script src="@Url.Content("~/Pub/vendor/metisMenu/metisMenu.min.js")"></script>
    <script src="@Url.Content("~/Pub/vendor/raphael/raphael.min.js")"></script>
    @*<script src="@Url.Content("~/Pub/vendor/morrisjs/morris.min.js")"></script>
    <script src="@Url.Content("~/Pub/data/morris-data.js")"></script>*@
    <script src="@Url.Content("~/Pub/dist/js/sb-admin-2.js")"></script>

    <script>jQuery.ready()</script>
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        @*@Html.Partial("~/Areas/Admin/Views/Shared/MainMenu.cshtml", ViewBag.MainMenu)*@
      @Html.Partial("MainMenu", new { model = ViewBag.MainMenu })
       @*@{Html.RenderAction("MainMenu", "Home", new { area = "Admin" });}*@
        @*@{Html.RenderPartial("MainMenu");}*@

        <div id="page-wrapper">
           <div class="container-fluid">
               <div class="row">
                   <div class="col-lg-12">
                       <h1 class="page-header">@RenderSection("header",required:true)</h1>
                   </div>
               </div>
               @RenderBody()
           </div>
        </div>
        <!-- /#page-wrapper -->
    </div>
   
</body>
</html>
