<!DOCTYPE html>
<html lang="en" ng-app="ngMasterAg">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gentelella Alela! | </title>
    <!-- jQuery -->
    <script src="@Url.Content("~/Pub/libLayout/gentelella-master/vendors/jquery/dist/jquery.min.js")"></script>

    @*Layout*@
    <!-- Bootstrap -->
    <link href="@Url.Content("~/Pub/libLayout/gentelella-master/vendors/bootstrap/dist/css/bootstrap.min.css")" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="@Url.Content("~/Pub/libLayout/gentelella-master/vendors/font-awesome/css/font-awesome.min.css")" rel="stylesheet" />    
    <!-- Custom Theme Style -->
    <link href="@Url.Content("~/Pub/libLayout/gentelella-master/build/css/custom.min.css")" rel="stylesheet" />

    @*Custom Lib NgJs*@
    <script src="@Url.Content("~/ViewLibrary/NgJs.js")"></script>


    @*Lib Angular*@
    <script src="@Url.Content("~/Pub/libAngular/angularjs/angular.min.js")"></script>
    <script src="@Url.Content("~/Pub/libAngular/angularjs/angular-animate.js")"></script>
    <script src="@Url.Content("~/Pub/libAngular/angularjs/angular-touch.js")"></script>
    @*Lib Angular-GridUI*@
    <script src="@Url.Content("~/Pub/libAngular/angularjs/ui-grid/ui-grid.js")"></script>
    <link href="@Url.Content("~/Pub/libAngular/angularjs/ui-grid/ui-grid.css")" rel="stylesheet" type="text/css" />

    @*Toastr and Progress*@
    <script src="@Url.Content("~/Pub/libAngular/bootstrap/ui-bootstrap-tpls-0.13.4.js")"></script>
    <link href="@Url.Content("~/Pub/libAngular/toas/css/toastr.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Pub/libAngular/toas/css/custom.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Pub/libAngular/toas/toastr.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Pub/libAngular/toas/toastr.tpl.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Pub/libAngular/loadingBar/loading-bar.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Pub/libAngular/loadingBar/loading-bar.js")"></script>


    <script>
        var appMaster;
        try {
            angular.module("ngMasterAg");
        } catch (e) {
            appMaster = angular.module("ngMasterAg", ['ngTouch', 'ui.grid', 'ui.grid.pagination', 'toastr', 'chieffancypants.loadingBar', 'ngAnimate']);
        }

        appMaster.config(function (cfpLoadingBarProvider) {
            cfpLoadingBarProvider.includeSpinner = true;
        })
    </script>
</head>
<body class="nav-md">

    <div class="container body">
        <div class="main_container">
            @{Html.RenderAction("LeftMenu", "Home", new { area = "Admin" });}
            <!-- top navigation -->
            @{Html.RenderAction("TopNavigation", "Home", new { area = "Admin" });}
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main" style="min-height: 1704px;">
                @RenderBody()
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    @*Layout*@

    <!-- Bootstrap -->
    <script src="@Url.Content("~/Pub/libLayout/gentelella-master/vendors/bootstrap/dist/js/bootstrap.min.js")"></script>
    <!-- Custom Theme Scripts -->
    <script src="@Url.Content("~/Pub/libLayout/gentelella-master/build/js/custom.min.js")"></script>

</body>
</html>
